.main {
  width: 264px;
  height: 148px;
  
  background: var(--n900);
  color: var(--n0);
  border-radius: var(--radius-sm);

  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  position: relative;
  overflow: hidden;
}

.main > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  z-index: 1;
}

.waves {
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 100%;

  background-image: url('/illustrations/aerocard-waves.svg');
  background-size: cover;
  transform: translateY(35%) rotateZ(-4.26deg);
}