.container {
  padding: 0 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 10rem 0;

  max-width: 1464px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  column-gap: 1.5rem;
  row-gap: 5rem;
  place-items: stretch;
}
