.container {
  padding: 0 5rem;
}

.container > * {
  max-width: 1464px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
