@import './breakpoints.scss';

.container {
  padding: 0 1.25rem;
}

.container > * {
  max-width: 1464px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* Prevents Aeropay component from being covered by
   * absolute-positioned hero image */
  position: relative;
  z-index: 10;
}

.stickyHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  padding: 1rem 1.25rem;

  background: var(--n0);
  border-bottom: 1px solid var(--n300);

  z-index: 10;
  transition: transform 250ms ease-out;
}

.stickyHeader .header {
  max-width: 1464px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding: 0;
}

.stickyHeader.hidden {
  transform: translateY(-150%);
}

.stickyHeader.hidden div[class*="aeropay"] {
  display: none;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

img.logo {
  display: grid;
  width: 32px;
  height: 32px;
}

.logoDesktop {
  display: none;
}

/* === Desktop styles ======================================================= */
@include respond-up('desktop') {
  .container {
    padding: 0 5rem;
  }

  .logoDesktop {
    display: block;
  }

  .logoMobile {
    display: none;
  }

  .stickyHeader {
    padding: 1.5rem 5rem;
  }
}