@import './breakpoints.scss';

.container {
  padding: 0 1.25rem;
}

.container > * {
  max-width: 1464px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /* position: sticky;
  top: 0;
  background: var(--n0);
  z-index: 10; */
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

img.logo {
  display: grid;
  width: 32px;
  height: 32px;
}

.logoDesktop {
  display: none;
}

/* === Desktop styles ======================================================= */
@include respond-up('desktop') {
  .container {
    padding: 0 5rem;
  }

  .logoDesktop {
    display: block;
  }

  .logoMobile {
    display: none;
  }
}