.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  
  background: var(--n0);
  border: 1px solid var(--n300);
  border-radius: var(--radius);

  position: relative;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

button.expand {
  padding: 0.25rem;
  display: grid;

  background: none;
  color: var(--n500);
  border: none;

  transition: color 150ms ease-out, transform 150ms ease-out;
  cursor: pointer;
}

button.expand:active {
  color: var(--n600);
}

button.expand.expanded {
  transform: rotateX(180deg);
}

button.expand > svg {
  stroke: currentColor;
}

.aeropay {
  position: absolute;

  top: calc(100% + 0.375rem);
  right: 0;
}