.container {
  height: 506px;
  
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;

  border: 1px solid var(--n300);
  border-radius: var(--radius);
  transition: color 0.15s ease, border-color 0.15s ease;

  overflow: hidden;
}

.productImage {
  display: grid;
  place-items: center;
  grid-template-areas: "image";
}

.productImage > * {
  grid-area: image;
}

.productInfo {
  padding: 1rem 1.5rem 1.5rem;
  border-top: 1px solid var(--n300);
}

button.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;

  background: var(--brand-g);
  color: var(--n0);
  border: none;
  border-radius: var(--radius);

  cursor: pointer;
}

button.cta:hover {
  background: var(--brand-g-hv);
}

button.cta:disabled {
  background: var(--n200);
  color: var(--n600);

  pointer-events: none;
}

button.cta:disabled > svg {
  color: var(--n500);
}