@import './breakpoints.scss';

.container {
  height: 506px;
  
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;

  border: 1px solid var(--n300);
  border-radius: var(--radius);
  transition: transform 150ms ease;

  position: relative;
  overflow: hidden;
}

.productImage {
  display: grid;
  place-items: center;
  grid-template-areas: "image";
}

.productImage > * {
  grid-area: image;
}

.productInfo {
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--n300);
}

.costLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

/* === Desktop styles ======================================================= */
@include respond-up('desktop') {
  .container {
    perspective: 1000px;
    transform-style: preserve-3d;
  }

  .card {
    transform: translateZ(0);
    --x: 0;
    --y: 0;
  }

  .card:hover {
    transform: translateZ(25px) rotateX(var(--x)) rotateY(var(--y));
  }

  .costLabel > img {
    width: 2rem;
    height: 2rem;
  }
}