.main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 10rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  column-gap: 1.5rem;
  row-gap: 5rem;
  place-items: stretch;
}

.filters {
  display: grid;
  grid-template-columns: 1fr auto;
}

.pagination {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: end;
}

.pageSize {
  grid-column: 2;
  justify-self: center;
}