@import './breakpoints.scss';

.elevation1 {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
}

.elevation1.hv {
  transition: box-shadow 150ms ease-out;
}

.elevation1.hv:hover,
.elevation1.active {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
}

.elevation2 {
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.05);
}

.elevation3 {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.12);
}

div.toast {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  border-radius: var(--radius-md);
  border: 2px solid var(--n300);

  max-width: min(600px, calc(100vw - 2rem));
  padding: 1rem;

  @include respond-up('tablet-lg') {
    padding: 1.5rem;
  }
}

div.toast.success {
  border-color: var(--green);
}

div.toast.error {
  border-color: var(--red);
}

.toastContent {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1.5rem;

  padding-left: 0.5rem;
}

button.toastClose {
  padding: 0;
  display: grid;

  background: none;
  color: var(--n500);
  border: none;

  transition: color 150ms ease-out, transform 150ms ease-out;
  cursor: pointer;
}

button.toastClose:active {
  color: var(--n600);
}

button.toastClose > svg {
  stroke: currentColor;
}

button.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 1.5rem;

  background: var(--brand-g);
  color: var(--n0);
  border: none;
  border-radius: var(--radius);

  cursor: pointer;
}

button.cta:hover {
  background: var(--brand-g-hv);
}

button.cta:disabled {
  pointer-events: none;
}

button.cta:disabled:not(.ctaLoading) {
  background: var(--n200);
  color: var(--n600);
}

button.cta:disabled > svg {
  color: var(--n500);
}

.ctaLoading {
  opacity: 0.7;
}

.ctaSkeleton {
  height: calc(2rem + 1.5em);
  border-radius: var(--radius);

  animation: pulse 500ms ease 0ms infinite alternate both;
}

@keyframes pulse {
  0% {
    background-color: var(--n200);
  }
  100% {
    background-color: var(--n300);
  }
}