.main {
  position: relative;
  height: 720px;
}

.main::before {
  content: '';

  /* Hacky full width background without breaking the grid */
  position: absolute;
  top: 120px;
  height: 528px;
  left: calc(50% - 50vw);
  width: 100vw;

  background: var(--brand-g);
  opacity: 50%;
  z-index: -1;
}

.card {
  background: var(--n0);
  border: 1px solid var(--n300);
  border-radius: var(--radius-xl);

  max-width: 37%;
  padding: 0.75rem;

  position: absolute;
  top: 0;
  left: 50%;
  transform:
    translateX(-50%)
    translateY(calc(2rem * var(--n) * var(--n)))
    translateX(calc(85% * var(--n)))
    rotateZ(calc(3deg * var(--n)));

  z-index: 1;
}

.cardTop {
  background: var(--illus-g);
  border: 1px solid var(--n300);
  border-bottom: none;
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);

  display: grid;
}

.cardBottom {
  border: 1px solid var(--n300);
  border-bottom-left-radius: var(--radius-lg);
  border-bottom-right-radius: var(--radius-lg);

  padding: 1rem 1.5rem 1.5rem;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.75rem;
  align-items: center;
  justify-items: start;
}

.cardBottom > p {
  grid-column: span 2;
  max-width: 370px;
}

.cardIcon {
  background: var(--brand-light);
  border-radius: var(--radius-sm);
  padding: 0.5rem;

  display: grid;
}